<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/style/style.css">
    <script src="https://kit.fontawesome.com/67107e9e71.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="./../controllers/sliderjquery.js"></script>
    <title>Image Slider</title>
</head>

<body>
    <div class="app-root">
        <h1>My Image Slider JQuery</h1>
        <div class="imageslides-container">
            <i class="fas fa-backward" id='prevBtn'></i>
            <i class="fas fa-forward" id='nextBtn'></i>
            <div class="slide">
                <img src="./../assets/images/img9.jpeg" id="lastImage">
                <img src="./../assets/images/img1.jpeg">
                <img src="./../assets/images/img2.jpeg">
                <img src="./../assets/images/img3.jpeg">
                <img src="./../assets/images/img4.jpeg">
                <img src="./../assets/images/img5.jpeg">
                <img src="./../assets/images/img6.jpeg">
                <img src="./../assets/images/img7.jpeg">
                <img src="./../assets/images/img8.jpeg">
                <img src="./../assets/images/img9.jpeg">
                <img src="./../assets/images/img1.jpeg" id="firstImage">
            </div>
        </div>
        <script>

        </script>
    </div>
</body>

</html>