* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: 450px;
}

.app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    text-align: center;
}
.imageslides-container {
    width: 60%;
    margin: auto;
    border: 3px solid black;
    overflow: hidden;
    position: relative;
    .slide {
        display: flex;
        width: 100%;
        height: 450px;
        transition: 1s ease-in-out;
        left: 0px;
        position: relative;
    }
    #prevBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 5%;
        font-size: 35px;
        color: white;
        opacity: 0.5;
        cursor: pointer;
    }
    #nextBtn {
        position: absolute;
        top: 50%;
        z-index: 10;
        right : 5%;
        font-size: 35px;
        color: white;
        opacity: 0.5;
        cursor: pointer;
    }
}